.weather__key {
  color: #f16051;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}
